/**{background: rgba(0,0,0,.1)}*/
body,a{color:#000;background:#F2F2F2}
h1{text-align: center;}
a{font-size: 35px;text-decoration:none;text-align: center}
p{font-size: 30px}
img{width:100%;display: block;max-width: 100%;border-radius: 3px;border:1.5px solid black
}
#item{display: inline-block;background: white}
.april-28th-2018{}
.container{align-items: center}
.sidebar{min-width: 100px;float: left;width:25%;height:100%;}
a.brand{font-size: 40px}
.main{min-width: 100px;float: right;width:75%;display: inline-block;}
div.item{padding:20px 10px;border: 1px solid black; }

.header{padding:5px;
display: inline-block;font-size: 20px}
.logo{border: 2px solid #000;}
.intro{padding:15px}
a.item{padding:2%;display:block;}
.list-group{width:100%}
.list-group-item{color:blue}
